#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
background-color: rgb(183, 204, 241);
}
img
{
width: 37%;
border-radius: 10px;
padding: 10px;
box-shadow: 0 6px 8px coral;
}
.column
{
display: inline;
padding: 10px;
}
img:hover
{
border-radius: 150px;
}
.copy_right_footer
{
position: fixed;
color:blueviolet;
background-color:beige;
bottom: 0;
width: 100%;
line-height: 3;
text-align: center;
}